<div class="container mt-5" role="main">

  <div class="card">
    <div class="card-body" style="height: 500px">
      <warpview-tile
        [url]="url"
        [responsive]="true"
        [showLegend]="false"
        [options]="options"
        [type]="'line'"
        [warpscript]="warpscript"
        (chartDraw)="onChardDraw()"
        (execError)="onError($event)"
        (execStatus)="onStatus($event)"
        (warpscriptResult)="onResult($event)"
      ></warpview-tile>
    </div>
  </div>

  <ngb-alert *ngIf="!statusAlertClosed" (close)="statusAlertClosed = true" type="success">{{statusText}}</ngb-alert>
  <ngb-alert *ngIf="!errorAlertClosed" (close)="errorAlertClosed = true" type="danger">{{errorText}}</ngb-alert>
</div>



